{#-
 # Copyright © 2022 JSC "VNIIZHT" or its affiliates. All Rights Reserved.
 # This software is distributed under the terms of the MIT License.
-#}

#ifndef {{T.full_name | ln.c.macrofy}}_{{T.version.major}}_{{T.version.minor}}_QT_HPP_INCLUDED
#define {{T.full_name | ln.c.macrofy}}_{{T.version.major}}_{{T.version.minor}}_QT_HPP_INCLUDED
{% include "include_file.j2"  %}
{%- for n in T | includes %}
{% if loop.first -%}

{# Add newline before first include #}
{% endif -%}
#include {{ n }}
{%- endfor %}

{% block object %}{% endblock %}

#endif // {{T.full_name | ln.c.macrofy}}_{{T.version.major}}_{{T.version.minor}}_QT_HPP_INCLUDED
