{#-
 # Copyright © 2022 JSC "VNIIZHT" or its affiliates. All Rights Reserved.
 # This software is distributed under the terms of the MIT License.
-#}

#include <{{ "%s.hpp" |format(T | full_reference_name | replace("::", "/")) }}>
#include "qt_dsdl_support.hpp"